@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap");

body {
  background-color: #f0f0f0;
}

.back-button {
  text-decoration: none;
  color: black;
}

.back-button:hover {
  color: rgba(252, 173, 186, 0.984);
}

.regis-ask {
    color: black;
}

.regis-ask:hover {
    color: rgba(252, 173, 186, 0.984);
}

.btn-login {
    color: black;
    background-color: rgba(255, 134, 154, 0.984);
}

.btn-login:hover {
    color: white;
    background-color: rgba(255, 188, 200, 0.984);
}

.social-logo {
  color: #fff;
}

.social-logo:hover {
  color: rgba(252, 173, 186, 0.984);
}

.product-footer {
  text-decoration: none;
  color: #fff;
}

.product-footer:hover {
  color: rgba(252, 173, 186, 0.984);
}

@media (max-width: 768px) {
  .col-md-3 {
    width: 50%;
  }
}
